<h5>This is the Index1 method </h5>
<p>Getting datas from appsettings.json file</p>
<hr />
<ul>
    <li>
        @ViewData["Var1"]
    </li>
     <li>
        @ViewData["Var2"]
    </li>
     <li>
        @ViewData["Var3"]
    </li>
</ul>
