@model AppsettingsJson.Models.DataModel

<h5>This is the Index2 method</h5>
<p>Getting datas from appsettings.json file</p>
<hr />
<ul>
    <li>
        @Model.AdminName
    </li>
    <li>
        @Model.AdminId
    </li>
    <li>
        @Model.Email
    </li>
</ul>